@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  padding: 2%;
  font-family: Oswald, sans-serif;
}
header h2 {
  margin-left: 3rem;
}
header ul {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  list-style: none;
}
header ul a {
  color: #5b5b5b;
  text-decoration: none;
}
header ul button {
  background-color: #fff;
  height: 8vh;
  width: 8vw;
  margin-top: -1rem;
  font-family: Oswald, sans-serif;
}

section button {
  background-color: #0017e9;
  color: #fff;
  border: none;
}

.porto-logistica-container {
  background-image: url("./images/background.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Oswald, sans-serif;
}
.porto-logistica-container .text-logistica {
  color: #fff;
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  height: 40vh;
  width: 50vw;
}
.porto-logistica-container .text-logistica h1 {
  font-size: 5rem;
}
.porto-logistica-container .text-logistica p {
  font-size: 1.5rem;
}
.porto-logistica-container .text-logistica button {
  width: 14vw;
  height: 7vh;
  margin-left: 3.5%;
  margin-top: 3%;
  font-size: 1rem;
  font-family: Oswald, sans-serif;
}

.gestao-container {
  display: flex;
  height: 140vh;
}
.gestao-container img {
  width: 45vw;
  height: 110vh;
  margin-right: 1rem;
  margin-top: 5rem;
}
.gestao-container .text-gestao {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 80vh;
  margin: 8%;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}
.gestao-container .text-gestao h4 {
  color: #0017e9;
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
}
.gestao-container .text-gestao h3 {
  font-size: 2.5rem;
  text-align: start;
}
.gestao-container .text-gestao p {
  text-align: start;
  font-size: 1.15rem;
}
.gestao-container .text-gestao a {
  color: #0017e9;
  text-decoration: none;
}

.solucoes-container {
  background-color: #d8d8d8;
  height: 120vh;
  padding: 2%;
  font-family: Oswald, sans-serif;
}
.solucoes-container h4 {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}
.solucoes-container #text-solucoes {
  color: #0017e9;
}
.solucoes-container article {
  background-color: #d8d8d8;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}
.solucoes-container article .articles {
  width: 18vw;
  height: 55vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: start;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.solucoes-container article .articles #article-title {
  font-weight: 500;
}
.solucoes-container article img {
  width: 100%;
  height: 50%;
}
.solucoes-container article p {
  margin: 6%;
}

.contato-container {
  display: flex;
  font-family: Oswald, sans-serif;
  height: 120vh;
  margin-top: 3rem;
}
.contato-container h3 {
  color: #0017e9;
  font-size: 2rem;
}
.contato-container h4 {
  font-size: 1.25rem;
}
.contato-container .locais {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contato-container .locais h3,
.contato-container .locais h4 {
  margin-left: 2rem;
}
.contato-container .contato {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}
.contato-container .contato h3,
.contato-container .contato h4 {
  margin-left: 2.9rem;
}
.contato-container .figures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  width: 50vw;
}
.contato-container .figures img {
  width: 80%;
  height: 80%;
}
.contato-container .figures figcaption {
  font-weight: 500;
}
.contato-container form {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 1.4rem;
  width: 30vw;
  height: 70vh;
}
.contato-container form input {
  margin-bottom: 1.5rem;
  height: 10vh;
}
.contato-container form label {
  margin-top: 0.5rem;
}
.contato-container form textarea {
  margin-bottom: 2rem;
  height: 20vh;
}
.contato-container form input,
.contato-container form textarea {
  border: solid 0.1rem;
}
.contato-container form button {
  height: 15vh;
}

footer {
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: Oswald, sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 201px) and (max-width: 500px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    align-items: center;
  }
  header h2 {
    display: none;
  }
  header ul {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-size: 1.25rem;
    justify-content: space-evenly;
  }
  header ul button {
    display: none;
  }
  .porto-logistica-container {
    background-size: cover;
    height: auto;
    padding: 2rem 0;
  }
  .porto-logistica-container .text-logistica {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .porto-logistica-container .text-logistica h1 {
    font-size: 3rem;
  }
  .porto-logistica-container .text-logistica p {
    font-size: 1.2rem;
  }
  .porto-logistica-container .text-logistica button {
    width: 8rem;
    height: 3rem;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
  }
  .porto-logistica-container > * {
    margin-bottom: 1.5rem;
  }
  .gestao-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .gestao-container img {
    width: 80%;
    height: 80%;
    margin-top: -0.5rem;
    margin-bottom: 4rem;
  }
  .gestao-container .text-gestao {
    width: 90%;
    margin: 1rem 1rem;
    height: auto;
  }
  .gestao-container .text-gestao h3 {
    font-size: 2rem;
  }
  .gestao-container .text-gestao p {
    font-size: 1.25rem;
  }
  .gestao-container .text-gestao a {
    font-size: 1.5rem;
  }
  .gestao-container .text-gestao > * {
    margin-bottom: 2rem;
  }
  .gestao-container > * {
    margin-bottom: 2rem;
  }
  .solucoes-container {
    height: auto;
    padding: 2rem 1rem;
  }
  .solucoes-container article {
    flex-direction: column;
    align-items: center;
  }
  .solucoes-container article .articles {
    width: 90%;
    height: auto;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
  .solucoes-container > * {
    margin-bottom: 1.5rem;
  }
  .contato-container {
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
  }
  .contato-container .locais {
    margin-bottom: 1.3rem;
    text-align: center;
    align-items: center;
  }
  .contato-container .locais h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .contato-container .locais h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .contato-container .contato {
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
  }
  .contato-container .contato h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .contato-container .contato h4 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .contato-container .figures {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 1rem auto;
  }
  .contato-container .figures img {
    width: 100%;
    height: auto;
  }
  .contato-container form {
    width: 90%;
    margin: 0 auto;
    height: auto;
    margin-left: 6.5rem;
  }
  .contato-container form input,
  .contato-container form textarea,
  .contato-container form button {
    width: 60%;
  }
  .contato-container form input,
  .contato-container form textarea {
    margin-bottom: 1rem;
    height: auto;
    padding: 0.5rem;
    border: solid 0.1rem;
  }
  .contato-container form label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }
  .contato-container form button {
    height: 7vh;
  }
  .contato-container > * {
    margin-bottom: 1.5rem;
  }
  footer {
    height: 6vh;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */